img.avatar {
}

img.avatar.detail {
  width: 128px;
  height: 128px;
}

img.avatar.metanav-avatar {
  margin: 0 5px -5px 0;
}

img.avatar.ticket-reporter {
  float: left;
  margin: 0.3em 1em -0.3em 0;
}

img.avatar.ticket-owner {
  margin: -0.5em 0.5em 0 0;
  vertical-align: top;
}

img.avatar.ticket-comment {
  margin: 0 0.3em -0.5em 0;
}

img.avatar.ticket-comment-diff {
  margin: -0.4em 0.2em -0.3em 0;
}

img.avatar.ticket-comment-history {
  margin: -0.3em 0.4em 0.1em 0;
  vertical-align: top;
}

img.avatar.attachment-view {
  margin: -0.3em 0.4em 0.1em 0;
  vertical-align: top;
}

img.avatar.attachment-lineitem {
  margin: -0.3em 0.4em 0.1em 0;
  vertical-align: top;
}

img.avatar.browser-lineitem {
  margin:0 5px 0 0;
}

img.avatar.report {
  margin: -0.3em 0.4em 0.1em 0;
  vertical-align: top;
}

img.avatar.query {
  margin: -0.3em 0 0 0;
  vertical-align: top;
}

img.avatar.timeline {
  margin: -0.3em 0.3em -0.3em 0;
}

img.avatar.wiki-diff {
  margin: -0.4em 0.2em -0.3em 0;
}

img.avatar.wiki-history {
  margin: -0.3em 0.4em 0.1em 0;
  vertical-align: top;
}

img.avatar.wiki-version {
  margin: 0 0.3em -0.5em 0;
}

img.avatar.browser-changeset {
  margin:3px 10px 0px 0px;
}

img.avatar.search-results {
  margin: -0.5em 0.4em 0 0;
  vertical-align: top;
}

td.avatar.prefs-avatar {
  vertical-align:middle;
  white-space:nowrap;
}

/* ticket view */
#ticket table.properties > tbody > tr > th,
#ticket table.properties > tbody > tr > td {
  padding-top: 1.0em;
}

/* report view */
.tickets tbody td,
.reports tbody td {
  padding: 0.4em 0.5em 0.1em 0.5em !important;
}
.tickets tbody td[class="owner"],
.tickets tbody td[class="reporter"],
.reports tbody td[class="owner"],
.reports tbody td[class="reporter"] {
  white-space: nowrap;
}

/* ticket comment diff */
#overview dt.property {
  padding-top: 0.3em;
}
#overview dd {
  padding-top: 0.3em;
}

/* ticket comment history */
#fieldhist td {
  padding: 0.4em 0.5em 0.1em 0.5em;
}

/* page attachments */
#attachments dt,
#attachments li {
  padding-top: 0.4em;
}

/* search result */
#content.search #results dd {
  padding-top: 0.5em;
}
